<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    
    <ModulePaths>
      <Exclude>
        <ModulePath>.*TourBooking\.AppHost\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
    
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>

    <CollectFromChildProcesses>True</CollectFromChildProcesses>
    <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentationRestore>False</EnableStaticNativeInstrumentationRestore>
    <IncludeTestAssembly>True</IncludeTestAssembly>

  </CodeCoverage>
</Configuration>
